body,
form,
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color:White;
    background-color: #566573;
    background-color: blue;
}
#Container {
    width: 950px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d5d8dc;
    background-color: green;
}
#Header {
    height: 50px;
    line-height: 50px;
    background-color: red;
}
#Menu {
    height: 50px;
    line-height: 50px;
    background-color: brown;
}
#Mainbody-Left {
    width: 30%;
    min-height: 500px;
    float: left;
    background-color: pink;
}
#Mainbody-Head {
    height: 50px;
    line-height: 50px;
    background-color: yellow;
}
#Mainbody-Middle {
    width: 50%;
    float: left;
    background-color: grey;
}
#Mainbody-Right {
    width: 20%;
    float: right;
}
#Footer {
    height: 40px;
    line-height: 40px;
    text-align: right;
    clear: both;
    background-color: #2c3e50;
    background-color: purple;
}
#Top-Bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: Black;
    background-color: indigo;
}
#Top-Bar-Container {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
#Top-Bar-Container-left {
    width: 25%;
    float: left;
    text-align: left;
    background-color: orange;
}
#Top-Bar-Container-Right {
    width: 75%;
    float: right;
    text-align: right;
    background-color: magenta;
}
#Middle-Box-In-Main-Area {
    width: 50%;
    margin-top:30px;
    margin-left:80px;
    height:230px;
    background-color:steelblue;
}