:root {
  --clr01: white ;
  --clr02: grey ;
  --clr03: blue ;
  --clr04: darkblue ;
  --navbarH: 50px ;
  --navbarW: 80%;
}

body{
  margin: 0;
  padding: 0; }

#navbarbox{
  position: fixed; 
  top: 0;
  height: var(--navbarH);
  width: 100%;
  z-index: 1; }

#contentbox{
  margin-top: var(--navbarH); }
