:root {
  --clr01: #f7f7f7 ;
  --clr02: #d3d3d3 ;
  --clr03: #1e3c64 ;
  --clr04: #1b1e3e ; 
  --clr05: #0b0921 ;
  --navbarH: 50px ;
  --navbarW: 90% ; 
  --contentW: 80% ; 
  --secH: 100px ; 
  --lineH: 20px ; 
}

body{
  margin: 0 ;
  padding: 0 ; }

a {
  text-decoration: none ; }

#navbarbox{
  position: fixed ; 
  top: 0 ;
  height: var(--navbarH) ;
  width: 100% ;
  z-index: 100 ; }

#navbar{
  width: var(--navbarW) ; 
  padding: 10px ;
  margin-left: auto ; 
  margin-right: auto ; }

.navbarlogo{ 
  float: left ; }

.navbarlogo img { 
  height: 30px ; }

.navbaritem {
  float: right ;
  margin-top:5px;
  margin-left: 20px ; }

.navbaritem a:hover {
  text-decoration: underline ; }

#contentbox{
  margin-top: var(--navbarH) ; }

#content{
  width: var(--contentW) ; 
  margin-left: auto ; 
  margin-right: auto ; }

.section{
  margin-left: auto ; 
  margin-right: auto ; 
  min-height: var(--secH) ; }

.section::after{
  content: '' ;
  clear: both ; }

#tableheader { 
  position: sticky ; 
  top: var(--navbarH) ; 
  z-index: 2 ; }

.line{
  display: flex; 
  justify-content: center;
  min-height: var(--lineH) ; }

.line::after{
  content: '' ;
  clear: both ; }

.square {
  margin: 5px; 
  text-align: center; }

#footer{
  display: flex; 
  justify-content: center;  
  width: 100% ; }

.bgclr1 { 
  background-color: var(--clr01) ; }

.bgclr2 { 
  background-color: var(--clr02) ; }

.bgclr3 { 
  background-color: var(--clr03) ; }

.bgclr4 { 
  background-color: var(--clr04) ; }

.bgclr5 { 
  background-color: var(--clr05) ; }

.clr1 { 
  color: var(--clr01) ; }

.clr2 { 
  color: var(--clr02) ; }

.clr3 { 
  color: var(--clr03) ; }

.clr4 { 
  color: var(--clr04) ; }

.clr5 { 
  color: var(--clr05) ; }

.w20{
  width: 20% ; }

.w25{
  width: 25% ; }

.w33{
  width: 33.333% ; }

.w50{
  width: 50% ; } 

.w66{
  width: 66.666% ; } 

.w75{
  width: 75% ; } 

.w100{
  width: 100% ; }

.w1{
  width: 1% ; } 

.w2{
  width: 2% ; } 

.w5{
  width: 5% ; } 

.w7{
  width: 7.5% ; } 

.w10{
  width: 10% ; } 

.w12{
  width: 12.5% ; } 

.w15{
  width: 15% ; } 

.wp200{
  min-width: 200px ; } 

.wp150{
  min-width: 150px ; } 

.wp100{
  min-width: 100px ; } 

.wp75{
  min-width: 75px ; } 

.fl{
  float: left ; }

.fr{
  float: right ; }

.pd10{
  padding: 10px ; }
